*swp
*.o
bsmapz
*.a
test_data/*log
test_data/*sam2bam*
test_data/test_paired*bam*
test_data/test_single*bam*
test_data/test_paired*bsp*
test_data/test_single*bsp*
test_data/test_paired*sam*
test_data/test_single*sam*
test_data/simulated.fastq.gz
samtools/bcftools/bcftools
samtools/misc/*.dSYM
samtools/misc/maq2sam-long
samtools/misc/maq2sam-short
samtools/misc/md5fa
samtools/misc/md5sum-lite
samtools/misc/seqtk
samtools/misc/wgsim
samtools/samtools
